In [2]:
#과제 1-1

import numpy as np
import pandas as pd

score = np.array([[70, 45, 60], [30, 25, 95], [23, 53, 100]])

df = pd.DataFrame(score, columns=['Math', 'Chemistry', 'Physics'])

print(df)

   Math  Chemistry  Physics
0    70         45       60
1    30         25       95
2    23         53      100

In [3]:
#과제 1-2

import numpy as np
import pandas as pd

data = {
'A' : np.random.randint(1, 10, 5),
'B' : np.random.randint(1, 10, 5)
}

df = pd.DataFrame(data)

df['C'] = df['A'] + df['B']
print(df)

df['D'] = df.mean(axis=1)
print(df)

   A  B   C
0  2  6   8
1  5  1   6
2  4  9  13
3  7  4  11
4  2  4   6
   A  B   C         D
0  2  6   8  5.333333
1  5  1   6  4.000000
2  4  9  13  8.666667
3  7  4  11  7.333333
4  2  4   6  4.000000